:root {
    --gris: #656565;
    --gris-claro: #F2F1F1;
    --negro: #000000;
    --blanco: #ffffff;
    --azul-oscuro: #0D3041;

    --drop-shadow: 2px 4px 4px 1px rgba(0,0,0,0.25);
}

body {
    width: 100% !important;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2.2rem;
}

p, label {
    font-size: 1.5rem;
}

.special-title {
    font-size: 1.3rem;
}

.special-paragraph, .button{
    font-size: 1.2rem;
}

.little-paragraph {
    font-size: 1rem;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--gris);
}

li {
    margin: 1.2rem 0;
}

.p-6 {
    padding: 6rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.bg-gris {
    background-color: var(--gris);
}

.bg-gris-claro {
    background-color: var(--gris-claro);
}

.bg-azul-oscuro {
    background-color: var(--azul-oscuro);

}
.bg-blanco {
    background-color: var(--blanco);
}

.tx-bold {
    font-weight: bold;
}

.tx-semi-bold {
    font-weight: 600;
}

.tx-medium {
    font-weight: 500;
}

.tx-negro {
    color: var(--negro);
}

.tx-blanco {
    color: var(--blanco);
}

.tx-gris {
    color: var(--gris);
}

.hero-img {
    position: relative;
    background-image: url('../assets/img/hero.png');
    min-height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-img::after {
    content: "";
    position: absolute;
    background-color: rgb(0 0 0 / 0.6);
    width: 100%;
    inset: 0;
}

.hero-tx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 10;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    height: 100%; 
    box-shadow: var(--drop-shadow);
    border-radius: 15px 15px 15px 15px;
}

@media (min-width: 1600px)  {
    .hero-tx {
        width: 45%;  
    }
}

footer nav a {
    display: block;
    margin: 1rem 0;
}

/*Inicio Sesion*/

.ini-login {
    width: 250px;   
    margin: 40px auto;
}

#login{
    width: 600px;
    height: 100px;
    margin: 10px auto;
}

.login-form {
	width: 550px;
	margin: 0 auto;
	position: relative;
	
	background: #ffff;
	border: 1px solid #fff;
	border-radius: 10px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .header {
	padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 28px;
	line-height:34px;
	color: #000000;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .header span {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height:34px;
	color: #000000;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}


/**/
.login-form .content {
	padding: 0px 30px 30px 30px;
}
.login-form .content h2 {
    font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height:34px;
	color: #000000;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}
.login-form .content .reset {
    float: right;

}

.login-form .content .input-email {
    width: 480px;
    padding: 10px 20px;
    font-size: 18px;
	margin: 0 auto;
    border-radius: 5px;
    background: #ffffff;
	border: 1px solid #c4c2c2;
}

.login-form .content .input-password {
    width: 480px;
    padding: 10px 20px;
	margin: 0 auto;
    position: relative;
    border-radius: 5px;
    background: #ffffff;
	border: 1px solid #c4c2c2;
}

/*footer*/

.login-form .footer {
padding: 0px 30px 30px 30px;
}
.login-form .footer p {
    font-family: "Poppins", sans-serif;
    margin: 20px 10px 5px 50px;
	font-weight: 500;
	font-size: 18px;
    padding: 0px 30px;
	line-height:34px;
	color: #000000;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    }

 
.login-form .footer .button{

    font-family: "Poppins", sans-serif;
    color:#ffffff;
    width: 480px;
    padding: 10px 20px;
	margin: 0 auto;
    position: relative;
    border-radius: 10px;
    background: #0D3041;
	border: 1px solid #c4c2c2;
}

/*registro*/
.login-form .content-name {
	padding: 0px 30px 0px 30px;
}
.login-form .content-name label{

    font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height:34px;
	color: #000000;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .content-input-name {
	padding: 0px 0px 30px 0px;
}

.login-form .content-input-name input{
    width: 210px;
    padding: 10px 20px;
	margin: 0 auto;
    position: relative;
    border-radius: 5px;
    background: #ffffff;
	border: 1px solid #c4c2c2

}

/*Gestion Productos*/


.datatable-container .material-icons{
    font-size: 16px;    
}
.datatable-container{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--blanco);
    border-radius: var(--azul-oscuro);
    color: var(--azul-oscuro);
    width: flex;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
}

.datatable-container .header-tools{
    border-bottom: solid 1px var(--gris);
    padding: 12px;
    display: flex;
    align-items: baseline;
}
.datatable-container .search{
    width: 30%;
}

.datatable-container .search-input{
    width: 100%;
    background-color: var(--gris-claro);
    display: block;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 1px var(--gris);
    color: var(--azul-oscuro);
}

.datatable-container .tools{
    width: 70%;
}

.datatable-container .tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}
.datatable-container .tools ul li{
    display: inline-block;
    margin: 2px;
    align-items: baseline;
}
.datatable-container .footer-tools{
    padding: 12px;
    display: flex;
    align-items: baseline;
}
.datatable-container .list-items{
    width: 50%; 
}
.datatable-container .pages{
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}
.datatable-container .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datatable-container .pages ul li{
    display: inline-block;
    margin: 2px;
}

.datatable-container .pages ul li button,
.datatable-container .tools ul li button{
    color: var(--azul-oscuro);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 2px;
    background: transparent;
}
.pages ul li button:hover,
.tools ul li button:hover{
    background: var(--azul-oscuro);
    color: var(--blanco);
}

.pages ul li span.active{
    background-color: var(--gris);
    border-radius: var(--negro);
}

.pages ul li button,
.pages ul li span,
.tools ul li button{
    padding: 6px 12px;
}

.datatable-container .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td{
    padding: 12px 12px;
}

.datatable-container .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--azul-oscuro);
}

.datatable-container .datatable td{
    border-bottom: solid 1px var(--gris);
}

.datatable-container .datatable tbody tr:nth-child(even){
    background-color: var(--gris-claro);
}
.datatable-container .datatable tbody tr:hover{
    background-color: var(--gris);
}